<h2>Task一覧</h2>
<table>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
    </tr>
    
    <tr>
    <% @tasks.each do |task| %>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
    <% end %>
    </tr>
</table>
        
